<h3>
    Contact
</h3>

<div class="row gx-5">
    <div class="col-7">
        <h5>You can contact me by sending an email using the button below:</h5>
        <email address="szafranowskip@@gmail.com" content="Mail me!" class="btn-secondary"></email>
    </div>
</div>