@page "/app/{selectiontype}/{relatedid:int?}"
@page "/app/{selectiontype}"
@page "/app/search"
@page "/app"

<div class="my-5">
    <h3 class="mb-4">
        Enter the name you want to search @SelectionType
    </h3>
    <input @bind-value="SearchText"
           @bind-value:event="oninput" placeholder="Search people by name" @onkeyup="Search" />
</div>

@if (!FilteredPeople.Any())
{
    <p>Nothing to show, sorry...</p>
    @if (SearchText.Length < 3)
    {
        <p>Make sure to enter at least 3 characters to search!</p>
    }
}
else
{
    if (FilteredPeople.Count() == 1)
    {
        <p>Found 1 person matching the search:</p>
    }
    else
    {
        <p>Found @FilteredPeople.Count() people matching the search:</p>
    }
    <div class="p-2 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
        @foreach (var person in FilteredPeople)
        {
            <PersonCard Person=person SelectionType=@SelectionType RelatedId=@RelatedId></PersonCard>
        }
    </div>
}