@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Silvagenum demo app</h1>
    <p>This is a simple ASP.NET genealogical database app. No trees yet! You can browse the list of people (automatically populated
        with sample data of some Lannisters if the database is empty) and add, edit, delete or search people. Searching is realised
        using both a REST API (purely for having an API demo) and Blazor pages (the solution that would make more sense as a part
        of a web app). The app is WIP so the functionality shouldn't be considered complete.</p>
</div>
